arrowhead
matrix
square
triangle
Y
Z
starTriangle
multiplicationTable1
multiplicationTable2
numberMatrix
numberMatrix1
numberMatrix2
overflow
streamManipulators
countLetters
calculate
guess 
compareString
reverseMatrix
reverseString
mytitle
operators
numReverse.exe
numberReverse.exe
sign.exe
mytoys-cost.exe
mytoys_toyCost.exe
